<!DOCTYPE html>
<html>
<head>
    <title>Security Demo</title>
</head>
<body>
    <h1>OWASP Top 10 Security Demo</h1>
    <div>
        <a href="/input-validation"><button>1. Input Validation</button></a>
        <a href="/output-encoding"><button>2. Output Encoding</button></a>
        <!-- <a href="/auth/login"><button>3. Authentication & Password Management</button></a>
        <a href="/session/login"><button>4. Session Management</button></a>
        <a href="/access"><button>5. Access Control</button></a>
        <a href="/crypto"><button>6. Cryptographic Practices</button></a> -->
    </div>
</body>
</html> 