<!DOCTYPE html>
<html>
<head>
    <title>Search Users</title>
</head>
<body>
    <h1>Search Users</h1>
    
    <!-- Vulnerable Search Form -->
    <h2>Search here for users</h2>
    <form action="/input-validation/search" method="GET">
        <input type="text" name="q" placeholder="Search username...">
        <button type="submit">Search</button>
    </form>
    
    <!-- Secure Search Form -->
    <!-- <h2>Secure Search</h2>
    <form action="/input-validation/search" method="GET">
        <input type="text" name="q" placeholder="Search username...">
        <button type="submit">Search</button>
    </form> -->

    <a href="/">Back to Home</a>
</body>
</html> 